/* font-family: 'Mr Dafoe', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Merriweather', serif; */


:root {
  --black-txt-color: #000;
  --light-grey-color: #d3d3d3;
  --yellow-color: #d8aa20;
  --slogan-font-family: 'Mr Dafoe';
  --menu-font: 'Roboto Mono';
}

.smallCaps {
  font-family: var(--menu-font);
  font-variant: small-caps;
  font-size: 2.2em;
}

.subMenuTitle {
  font-size: 0.8em;
  font-style: italic;
  padding: 0 5px;
}

.pillButton {
  border-radius: 25px;
  padding: 3px 30px 5px 30px;
  font-size: 0.8em;
  font-variant: small-caps;
}

#slogan {
  text-align: center;
  padding-top: 5%;
}

#slogan h2 {
  font-size: 1.7em;
  font-family: var(--slogan-font-family);
}

#slogan h4 {
  font-family: 'Merriweather';
  font-size: 0.8em;
  color: var(--yellow-color);
}

.img-fluid {
  width: 100%;
  height: 100%;
  display: block;
}

.caroHolder {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 25%;
}

.horizonPhoto {
  max-width: 100vw;
  margin-top: 85px;
  padding-bottom: 20px;
}

.meetCoders {
  text-align: center;
  margin-top: 60px;
}

.meetCoders h2 {
  font-size: 2em;
  font-family: var(--menu-font);
}




/* -- Media Queries -- */

@media (min-width: 768px) {
  .caroHolder {
    width: 85%;
    height: 85%;
    margin-top: 15%;
  }

  #slogan h2 {
    font-size: 2.2em;
  }

  #slogan h4 {
    font-size: 1em;
  }
}
